.article{
    display: block;
}

.article__author p{
    font-size: var(--font-size-xs);
}
.article__by{
    color: var(--color-neutral-25); 
}

.article__date{
    font-size: var(--font-size-xs);
    color: var(--color-neutral-25);
}
.article__excerpt{
    color: var(--color-neutral-25);
}

.article__portrait{
    width: 32px;
    height: 32px;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: auto 32 / 32;
    border-radius: 50%;
    margin-right: var(--size-xs);
}
.article__image{
    position: relative;
    transform: translate(0);
    display: block;
    margin-bottom: 20px;
    aspect-ratio: 4 / 4;
    border-radius: var(--size-xs);
    outline: none;
    overflow: hidden;
    transition: transform .3s ease-in-out;
}
.article__image:hover img{
    width: 103%;
    height: 103%;
    transition: all .3s ease-in-out;
}
.article__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    transition: all .3s ease-in-out;
}

.article__meta{

}

.article__info{

}

.article_title{

}

.article__tag{
    display: block;
    font-size: var(--font-size-xs);
    padding-inline: var(--size-sm);
    padding-block: var(--size-xxs);
    border-radius: var(--size-xs);
    white-space: nowrap;
    background-color: var(--color-secondary-60);
}

.article__tag:hover,
.article__tag:focus {
    background-color: var(--color-secondary-70);
}

.article__tag-active {
    background-color: var(--color-secondary-40);
}

.article__all{
    background-color: var(--color-secondary-40);
}

.article__all:hover,
.article__all:focus,
.article__all:active {
    background-color: var(--color-secondary-50);
}

/* .tag__css{
    background-color: var(--color-primary-60);
}
.tag__css:hover,
.tag__css:focus,
.tag__css:active {
    background-color: var(--color-primary-70);
}

.tag__web{
    background-color: var(--color-primary-60);
}
.tag__web:hover,
.tag__web:focus,
.tag__web:active {
    background-color: var(--color-primary-70);
}

.tag__design{
    background-color: var(--color-primary-70);
}
.tag__design:hover,
.tag__design:focus,
.tag__design:active {
    background-color: var(--color-primary-80);
}

.tag__photography {
    background-color: var(--color-primary-80);
}
.tag__photography:hover,
.tag__photography:focus,
.tag__photography:active {
    background-color: var(--color-primary-90);
}

.tag__html{
    background-color: var(--color-primary-60);
}

.tag__js{
    background-color: var(--color-primary-60);
} */

.post__content,
.post__categories{
    margin-bottom: var(--size-md);

}