:root {
    /* Primary Palette */
    --color-primary: rgb(39, 69, 140);
    --color-primary-dark: rgb(36, 68, 98);
    --color-secondary: #5A001E;
    --color-accent: #c9de72;
  
    /* Neutral Palette */
    --color-neutral-dark: rgb(52, 54, 56);
    --color-neutral-light: rgb(245, 247, 249);
    --color-neutral-muted: rgb(200, 202, 204);
  
    /* Gradients */
    --gradient-texture: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 3px,
      rgba(0, 0, 0, 0.4) 3px,
      rgba(0, 0, 0, 0.4) 6px
    );
    --gradient-primary: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    --gradient-primary-dark: linear-gradient(180deg, rgba(36, 68, 98, 0.8) 0%, var(--color-secondary) 100%);
    --gradient-transparent: linear-gradient(180deg, var(--color-primary-dark) 0%, rgba(90, 0, 30, 0.8) 100%);
    --gradient-neutral-light: linear-gradient(180deg, var(--color-neutral-light) 0%, var(--color-neutral-muted) 100%);
    --gradient-muted: linear-gradient(180deg, var(--color-primary) 0%, rgb(46, 76, 106) 66%);
  
    /* Text Colors */
    --text-color-default: rgb(52, 86, 119);
    --text-color-inverse: rgb(218, 220, 224);
  }
  