.card{
  padding: var(--size-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: cos(30deg);
  clip-path: polygon(-50% 50%,50% 100%,150% 50%,50% 0);
} 


.card-01{
    background: var(--color-teal-40);
}
.card-02{
    background: var(--color-teal-50);
}
.card-03{
    background: var(--color-teal-60);
}
.card-04{
    background: var(--color-teal-70);
}
.card-05{
    background: var(--color-alert-70);
}

