.logo-footer {
    max-width: 105px;
    height: auto;
}

.footer-links {
    display: inline-block;
}

.footer-links:hover,
.footer-links.active {
    text-decoration: underline;
    text-underline-offset: var(--size-xs);
}

.icon-footer{
    width: 42px;
}
.icon-footer:hover{
   opacity: 0.5;
}