header.startheader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

.inviewport {
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.intro span {
  display: inline-block;
}
.intro span:nth-of-type(1) { animation-delay: 0.1s; }
.intro span:nth-of-type(2) { animation-delay: 0.2s; }
.intro span:nth-of-type(3) { animation-delay: 0.3s; }
.intro span:nth-of-type(4) { animation-delay: 0.4s; }
.intro span:nth-of-type(5) { animation-delay: 0.5s; }
.intro span:nth-of-type(6) { animation-delay: 0.6s; }
.intro span:nth-of-type(7) { animation-delay: 0.7s; }
.intro span:nth-of-type(8) { animation-delay: 0.8s; }

.startheader-logo {
  width: 75px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.startheaderleft,
.slideoffleft {
  transform: translateX(-80px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

nav.nav {
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

nav.nav ul {
  margin: 0;
  padding: 0;
}

nav.nav li {
  list-style: none;
  margin: 5px 7px;
}

nav.nav a {
  display: block;
  color: var(--color-neutral-muted);
  font-size: 185%;
  line-height: 150%;
  font-weight: 400;
}

nav.nav a:hover,
nav.nav a.active {
  text-decoration: underline;
  text-underline-offset: var(--size-xs);
}

.navhidden {
  transform: translate(-50%, -750px);
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.navhidden ul li a {
  opacity: 0;
  transform: translate(0, -350px);
  transition: all 0.3s ease-in-out;
}

.navactive {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

.navactive ul li a {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.3s ease-in-out;
}

.nav ul li:nth-of-type(1) > a { transition-delay: 0.1s; }
.nav ul li:nth-of-type(2) > a { transition-delay: 0.2s; }
.nav ul li:nth-of-type(3) > a { transition-delay: 0.3s; }
.nav ul li:nth-of-type(4) > a { transition-delay: 0.4s; }
.nav ul li:nth-of-type(5) > a { transition-delay: 0.5s; }
.nav ul li:nth-of-type(6) > a { transition-delay: 0.6s; }
.nav ul li:nth-of-type(7) > a { transition-delay: 0.7s; }
.nav ul li:nth-of-type(8) > a { transition-delay: 0.8s; }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-darkest);
  z-index: 998;
}

#nav-icon {
  width: 54px;
  height: 54px;
  z-index: 999;
  position: fixed;
  top: 6px;
  left: 6px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon.hidden {
  transform: translateY(-100%); /* Hidden above the viewport */
}


#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 38px;
  background: var(--color-neutral-muted);
  border-radius: 8px;
  opacity: 1;
  left: 8px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) { top: 14px; }
#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) { top: 26px; }
#nav-icon span:nth-child(4) { top: 38px; }

#nav-icon.open span {
  background: var(--color-neutral-muted);
}

#nav-icon.open span:nth-child(1) {
  top: 26px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 26px;
  width: 0%;
  left: 50%;
}

#nav-icon.back span:nth-child(1) {
  transform: translate(-2px, 4px) rotate(-45deg);
  width: 20px;
}

#nav-icon.back span:nth-child(4) {
  width: 20px;
  transform: translate(-2px, -4px) rotate(45deg);
}


header.header-desktop{
  position: absolute;
  z-index: 4;
  width: 100%;
}

.logo-header {
  max-width: 105px;
  height: auto;
}

.header-links {
  display: inline-block;
}

.header-links:hover,
.header-links.active {
  text-decoration: underline;
  text-underline-offset: var(--size-xs);
}

.header-links:last-child{
  padding-right: 0;
}