.skill {
    width: 7.5em;
    height: auto;
}

.skill--wrapper {
    margin: 0 1em 1em 1em;
}

.bg-skills {
 background: var(--gradient-primary-dark);
}

.skill--bg {
    fill: none;
    stroke: rgba(255, 255, 255, 0);
    stroke-width: 30;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-dasharray: 408.2;
}

.skill--path {
    fill: none;
    stroke-width: 30;
    transform: rotate(-90deg);
    transform-origin: 50%;
}

.skill--text {
    fill: var(--text-color-inverse);
    font-size: 2rem;
}

.static{
    stroke-dasharray: 0 408.2;
    stroke-dashoffset: 0 408.2;
    transition: none 1s ease-in-out;
    transform: translateZ(-90deg); /* Force GPU repaint */
}

.animate{

    transition: all 1s ease-in-out;
    transform: translateZ(-90deg); /* Force GPU repaint */
}

.ps.animate{
    stroke: var(--color-primary-light);
    stroke-dasharray: 402 408.2;
    stroke-dashoffset: 402 408.2;
    transition: all 1s ease-in-out;
    transform: translateZ(-90deg); /* Force GPU repaint */
}
.fg.animate{
    stroke: var(--color-primary-dark);
    stroke-dasharray: 390 408.2;
    stroke-dashoffset: 390 408.2;
    transition: all 1s ease-in-out;
    transform: translateZ(-90deg); /* Force GPU repaint */
}
.html.animate{
    stroke: var(--color-teal);
    stroke-dasharray: 390 408.2;
    stroke-dashoffset: 390 408.2;
    transition: all 1s ease-in-out;
    transform: translateZ(-90deg); /* Force GPU repaint */
}
.css.animate{
    stroke: var(--color-teal-light);
    stroke-dasharray: 390 408.2;
    stroke-dashoffset: 390 408.2;
    transition: all 1s ease-in-out;
    transform: translateZ(-90deg); /* Force GPU repaint */
}
.js.animate{
    stroke: var(--color-teal-dark);
    stroke-dasharray: 390 408.2;
    stroke-dashoffset: 390 408.2;
    transition: all 1s ease-in-out;
    transform: translateZ(-90deg); /* Force GPU repaint */
}


.mission span{
    display: inline-block;  /* <- ADD THIS */
    opacity: 0;
}
.mission span:nth-child(1){
  animation: slide-in-left 1s  forwards cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-delay: 1s;
}
.mission span:nth-child(2){
animation: slide-in-left 1s  forwards cubic-bezier(0.165, 0.84, 0.44, 1);
animation-delay: 1.25s;
}
.mission span:nth-child(3){
animation: slide-in-right 1s forwards  cubic-bezier(0.165, 0.84, 0.44, 1);
animation-delay: 1.45s;
}
.mission span:nth-child(4){
animation: slide-in-right 1s  forwards cubic-bezier(0.165, 0.84, 0.44, 1);
animation-delay: 1.65s;
}
.mission span:nth-child(5){
animation: slide-in-left 1s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
animation-delay: 1.85s;
}
.mission span:nth-child(6){
animation: slide-in-left 1s forwards  cubic-bezier(0.165, 0.84, 0.44, 1);
animation-delay: 2.00s;
}
.mission span:nth-child(7){
    animation: slide-in-right 1s forwards  cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-delay: 2.25s;
}
.mission span:nth-child(8){
    animation: slide-in-right 1s  forwards cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-delay: 2.45s;
}
.mission span:nth-child(9){
    animation: slide-in-right 1s forwards  cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-delay: 3.65s;
}



@keyframes slide-in-left {
    from {
      opacity: 0;  
      transform: translateX(-700px);
    }  
    to {
      opacity: 1;  
      transform: translateX(0);
    }
  }
@keyframes slide-in-right {
    from {
      opacity: 0;  
      transform: translateX(700px);
    }  
    to {
      opacity: 1;  
      transform: translateX(0);
    }
  }





.outviewleft{
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.outviewleft.animate{
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }

.outviewright{
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.outviewright.animate{
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}