.skill {
    width: 7.5em;
    height: auto;
}

.skill--wrapper {
    margin: 0 1em 1em 1em;
}

.skill--bg {
    fill: none;
    stroke: rgba(255, 255, 255, 0.15);
    stroke-width: 30;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-dasharray: 408.2;
}

.skill--path {
    fill: none;
    stroke-width: 30;
    transform: rotate(-90deg);
    transform-origin: 50%;
}

.skill--text {
    fill: #1c1c1c; /* Replace $close-to-black with its corresponding hex or RGB value */
    font-size: 2rem;
}


.dash-ps, .dash-il, .dash-id, .dash-xd, .dash-ae, .dash-html, .dash-css, .dash-js {
    stroke: #ff6600; /* Replace $secondary-color */
    stroke-dasharray: 0 408.2;
}

.dash-null{
    stroke: #ff6600; /* Replace $secondary-color */
    stroke-dasharray: 0 408.2;
    transition: none 1s ease-in-out;
}

.dash-stroke{
    stroke: #ff6600; /* Replace $secondary-color */
    stroke-dasharray: 340 408.2;
    transition: all 1s ease-in-out;
    /* animation: ps 5s ease-in-out forwards;
    -webkit-animation: ps 5s ease-in-out forwards; */
}

.dash-ps.in-view {
    stroke: #ff6600; /* Replace $secondary-color */
    -webkit-animation: ps 5s ease-in-out forwards;
    animation: ps 5s ease-in-out forwards;
}

.dash-il.in-view {
    stroke: #ff6600; /* Replace $secondary-color */
    animation: il 5s ease-in-out forwards;
}

.dash-id.in-view {
    stroke: #ff6600; /* Replace $secondary-color */
    animation: id 5s ease-in-out forwards;
}

.dash-xd.in-view {
    stroke: #ff6600; /* Replace $secondary-color */
    animation: xd 5s ease-in-out forwards;
}

.dash-ae.in-view {
    stroke: #ff6600; /* Replace $secondary-color */
    animation: ae 5s ease-in-out forwards;
}

.dash-html.in-view {
    stroke: #0033cc; /* Replace $primary-color with its corresponding hex or RGB value */
    animation: html 5s ease-in-out forwards;
}

.dash-css.in-view{
    stroke: #0033cc; /* Replace $primary-color */
    animation: css 5s ease-in-out forwards;
}

.dash-js.in-view {
    stroke: #0033cc; /* Replace $primary-color */
    animation: js 5s ease-in-out forwards;
}

@keyframes ps {
    0% {
        stroke-dasharray: 0 408.2;
    }
    100% {
        stroke-dasharray: 406 408.2;
    }
}

@-webkit-keyframes ps {
    0% {
        stroke-dasharray: 0 408.2;
    }
    100% {
        stroke-dasharray: 406 408.2;
    }
}

@keyframes il {
    0% {
        stroke-dasharray: 0 408.2;
    }
    100% {
        stroke-dasharray: 367 408.2;
    }
}

@keyframes id {
    0% {
        stroke-dasharray: 0 408.2;
    }
    100% {
        stroke-dasharray: 398 408.2;
    }
}

@keyframes xd {
    0% {
        stroke-dasharray: 0 408.2;
    }
    100% {
        stroke-dasharray: 388 408.2;
    }
}

@keyframes ae {
    0% {
        stroke-dasharray: 0 408.2;
    }
    100% {
        stroke-dasharray: 320 408.2;
    }
}

@keyframes html {
    0% {
        stroke-dasharray: 0 408.2;
    }
    100% {
        stroke-dasharray: 380 408.2;
    }
}

@keyframes css {
    0% {
        stroke-dasharray: 0 408.2;
    }
    100% {
        stroke-dasharray: 376 408.2;
    }
}

@keyframes js {
    0% {
        stroke-dasharray: 0 408.2;
    }
    100% {
        stroke-dasharray: 225 408.2;
    }
}


.outviewleft{
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.outviewleft.in-view{
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }

.outviewright{
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.outviewright.in-view{
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}