@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Exo+2:100,400,400i,600,600i');


:root {
    --scale-factor: 1.25;           
    --font-size-xs: calc(1rem / var(--scale-factor));       
    --font-size-sm: 1rem;                                 
    --font-size-md: calc(1rem * var(--scale-factor));     
    --font-size-lg: calc(var(--font-size-md) * var(--scale-factor)); 
    --font-size-xl: calc(var(--font-size-lg) * var(--scale-factor));
    --font-size-2xl: calc(var(--font-size-xl) * var(--scale-factor)); 
    --font-size-3xl: calc(var(--font-size-2xl) * var(--scale-factor)); 
    --font-size-4xl: calc(var(--font-size-3xl) * var(--scale-factor)); 
    --font-size-5xl: calc(var(--font-size-4xl) * var(--scale-factor)); 
}

body {
    font-size: var(--font-size-sm);   /* Base font size */
    line-height: 1.5;
    font-family: 'Exo 2', sans-serif;
}

h1,h2,blockquote,.audiowide{
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
}
/* Headline Sizes */
h1 {
    font-size: var(--font-size-4xl);
    line-height: 1.2;
    color: var(--cool-grey);
}

h2 {
    font-size: var(--font-size-3xl);
    line-height: 1.25;
}

h3 {
    font-size: var(--font-size-2xl);
    line-height: 1.25;
}

h4 {
    font-size: var(--font-size-xl);
    line-height: 1.25;
}

h5 {
    font-size: var(--font-size-lg);
    line-height: 1.25;
}

h6 {
    font-size: var(--font-size-md);
    line-height: 1.25;
}

p {
    font-size: var(--font-size-sm);  /* Matches the body text */
    margin-bottom: var(--size-sm);
}

blockquote {
    font-size: var(--font-size-2xl);
    line-height: 1.25;
    color: var(--color-primary-30);
    padding: var(--size-xl);
    border-top: 1px solid var(--color-teal-50);
    border-bottom: 1px solid var(--color-teal-50);
    margin-block: var(--size-xl);
}

small {
    font-size: var(--font-size-xs);
}
p.small {
    font-size: var(--font-size-xs);
}

pre{
    padding: var(--size-md);
    border-radius: var(--size-sm);
    overflow: hidden;
}

pre code {
    font-size: var(--font-size-xs);  /* Slightly larger for emphasis */
}

.button {
    font-size: var(--font-size-md);  /* Slightly larger for emphasis */
    padding: 0.5em 1em;
    border-radius: 4px;
}

.fw-light{
    font-weight: 100;
}

.caption {
    font-size: var(--font-size-xs);
    line-height: 1.2;
    color: #666;  /* Lighter color for captions */
}

/* Responsive Headline Adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: var(--font-size-3xl);
    }

    h2 {
        font-size: var(--font-size-2xl);
    }

    h3 {
        font-size: var(--font-size-xl);
    }

    h4 {
        font-size: var(--font-size-lg);
    }

    h5 {
        font-size: var(--font-size-md);
    }

    h6 {
        font-size: var(--font-size-sm);
    }
}

ul.list_standard{
    padding-left: var(--size-lg);
}
ul.list_standard  li {
    list-style: disc;
    margin-bottom: var(--size-xs);
}
