<div class="article col-4">
    <div class="article__head">
        {% if post.image.feature %}
        <a href="{{post.url}}" class="article__image">
            <img src="{{post.image:gallery}}{{post.image:thumbnail}}" class="img-responsive" alt="">
        </a>
        {% endif %}
    </div>
    <div class="article__content">
        <div class="article__title mb-xs">
            <h4>{{ post.title }}</h4>
        </div>
        <div class="article__meta flex gap-xs align-baseline">
            <div class="article__tags flex gap-xs ">
               {% include post_tags.html %}
            </div>
            <p class="article__date">{{ post.date | date_to_long_string}}</p>
        </div>
        <div class="article__excerpt">
            <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
        </div>
        <div class="article__info flex">
            <a href="{{post.url}}" class="btn-primary btn-sm article__btn">read more</a>
        </div>
    </div>
</div>