<section class="mt-xl mb-xl" id="contact">
  <div class="inner-wrapper z2">
    <h3 class="text-center mb-sm z-02 drop static">Contact</h3>
    <div class="row gap-md">
      <div class="col-7 col-center drop static">
        <p>Let’s talk. If you’d like to collaborate, discuss a project, or just connect, drop me a note below. I’ll get back to you soon.</p>
        <form class="form drop static" action="https://api.staticforms.xyz/submit" method="post">
            <div class="form__top">
                <div class="form__group">
                    <label class="form__label screen-reader-text" for="form-name">Your Name</label>
                    <input class="form__input" id="form-name" type="text" name="name" placeholder="Your name" required="">
                </div>
                <div class="form__group">
                    <label class="form__label screen-reader-text" for="form-email">Your Email</label>
                    <input class="form__input" id="form-email" type="email" name="email" placeholder="Your email" required="">
                </div>
            </div>
            <div class="form__group">
                <label class="form__label screen-reader-text" for="form-text">Your Message</label>
                <textarea class="form__input" id="form-text" name="message" rows="8" placeholder="Your message" required=""></textarea>
                <input type="text" name="honeypot" style="display:none">
            </div>
            <div class="form__group">
                <button class="btn-primary btn-md btn-maxw" type="submit">send message</button>
                <input type="hidden" name="accessKey" value="6505c7e4-9110-4063-926d-cb7df3efe0f3">
                <input type="hidden" name="subject" value="Someone just drop you a line" />
                <input type="hidden" name="redirectTo" value="https://www.chadmdanford.com/success/">
            </div>
        </form>
      </div>
    </div>
  </div>
</section>

