<section class="mt-xl mb-xl" id="contact">
  <div class="inner-wrapper z2">
    <!-- <h3 class="text-center mb-sm z-02 drop static">Contact</h3> -->
    <div class="row gap-md">
      <div class="col-7 col-center drop static">
        <!-- <p>Let’s talk. If you’d like to collaborate, discuss a project, or just connect, drop me a note below. I’ll get back to you soon.</p> -->
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdku6KWJUM9a3bfVtpS7UfQLZuF1k98cTe8hpo2msL7XSb9Qw/viewform?embedded=true" width="640" height="742" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </div>
    </div>
  </div>
</section>

