<section  class="color-text-inverse" id="footer">
  <div class="container container-center pt-xl pl-md pr-md pb-xxl pt-xxl overflowhidden">
      <div class="row">
        <div class="col col-4">
            {%- assign postLogo ="/assets/images/CMd-logo.svg" -%}
            <img src="{{- postLogo | relative_url -}}" class="logo-footer " alt="">
        </div>
        <div class="col col-4">
            <div class="flex justify-center">
                <li><a href="#video">Home</a></li>
                <li><a href="#info">About Me</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">More Stuff</a></li>
            </div>
        </div>
        <div class="col col-4">
            <div class="flex">
                <div>logo1</div>
                <div>logo2</div>
                <div>logo3</div>
                <div>logo4</div>
            </div>
        </div>
    </div>
</section>