{%- assign postLogo ="/assets/images/CMd-logo.svg" -%}
{%- assign current_lang = page.lang | default: site.default_lang | default: "en" -%}
<header  class="header-mobile hide-desktop" id="header-mobile">
    <div class="overlay"></div>
    <div id="mobile-nav-header" class="mobile-nav-header bg-gradient-header">
        <div id="nav-icon" class="burger nav-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        {% include theme-toggle.html %}
    </div>
    <nav class="nav navhidden" role="navigation">
        <!-- Menu items for the main navigation menu go here -->
        <ul>
            {% for item in site.data.menu %}
                            {%- assign item_link = item.link[current_lang] | default: item.link.en -%}
                            {%- assign item_title = item.title[current_lang] | default: item.title.en -%}
                            <li><a href="{{item_link}}" class="{% if page.url == item_link %} active {% endif %} nav-mobile-links">{{item_title}}</a></li>                         
                        {% endfor %}
        </ul>
    </nav>
</header>
{%- assign postLogo ="/assets/images/CMd-logo.svg" -%}
<header class="header-desktop hide-mobile pt-md bg-gradient-header" id="header-desktop">
    <div class="wrapper">
        <div class="row justify-between">
            <div class="col col-2 flex">
                <a href="{{ index.url | prepend: site.baseurl}}/" class="logo-wrap">
                    {% include svg/logo.svg %}
                </a>
            </div>
            <div class="col col-10">
                <ul class="flex justify-end align-center">
                    {% for item in site.data.menu %}
                    {%- assign item_link = item.link[current_lang] | default: item.link.en -%}
                    {%- assign item_title = item.title[current_lang] | default: item.title.en -%}
                    <li><a href="{{item_link}}" class="{% if page.url == item_link %} active {% endif %} header-links pt-xs pb-xs pl-md pr-md">{{item_title}}</a></li>                         
                    {% endfor %}
                    <li class="pl-md">
                        {% include theme-toggle.html %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
