<section  class="pt-xl pb-xl" id="insta">
  <div class="inner-wrapper-md">
    <h3 class=" text-center mb-sm drop static">Snapshots & Stories</h3>
    <h5 class=" fw-light text-center mb-md drop static">A glimpse behind the lens</h5>
    <div class="row gap-sm">
      <div class="col col-6">
        {%- assign instaIntro ="/assets/images/insta/portfolio-insta01.png" -%}
        <img src="{{- instaIntro | relative_url -}}" class="drop static" alt="">  
      </div>
      <div class="col col-6 flex flex-column justify-center">
        <div class="drop static">
          <p>My Instagram is where creativity meets everyday life. From behind-the-scenes moments to spontaneous captures, it’s a space to share glimpses of inspiration, process, and the visual ideas that shape my work.</p>
          <div class="article__info flex">
            <a href="https://www.instagram.com/instamaticchad/" class="btn-primary btn-sm article__btn">see more</a>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>