<section  class="pt-xl pb-xl" id="aboutme">
  <div class="hexagon hex1 z0"></div>
  <div class="hexagon hex2 z0"></div>
  {%- assign sitePortrait ="/assets/images/self-portrait-2019.jpg" -%}
  <div class="inner-wrapper z2">
    <img src="{{- sitePortrait | relative_url -}}" class="site-portrait mb-lg z2 drop static" alt="">
    <h3 class="text-center mb-sm z-02 drop static">{{ site.title }}</h3>
    <h5 class="fw-light text-center mb-xxl z-02 drop static">Creative Director / Front-End Designer & Developer / Photographer</h5>
    <div class="row gap-md">
      <div class="col-7 col-center drop static">
        <p>In February 1999, I landed my first professional job at an advertising agency in Essen, Germany. I crafted my first Bewerbung using Microsoft Word and convinced my parents to invest $100 to send my B.F.A. portfolio—packed in my now-infamous silver case. I was hired on the spot and asked if I could start the following Monday.</p>
      </div>
    </div>
  </div>
</section>