<section  class="pt-xl pb-xl" id="aboutme">
  <div class="hexagon hex1 z0"></div>
  <div class="hexagon hex2 z0"></div>
  {%- assign sitePortrait ="/assets/images/self-portrait-2019.jpg" -%}
  <div class="inner-wrapper z2">
    <img src="{{- sitePortrait | relative_url -}}" class="site-portrait mb-lg z2 drop static" alt="">
    <h2 class="text-center mb-sm z-02 drop static">{{ site.title }}</h2>
    <h3 class="fw-light text-center mb-xxl z-02 drop static">{{site.description_en}}</h3>
    <div class="row gap-md">
      <div class="col-7 col-center drop static">
        <p>{{site.details_en}}</p>
      </div>
    </div>
  </div>
</section>