<section class="pt-xxl pb-xxl break-out" id="posts">
  <div class="wrapper">
    <div class="posts__header mb-lg">
      <h3>Posts</h3>
    </div>
      <div class="splide" id="postslisting" aria-labelledby="myposts">
        <div class="splide__track">
          <ul class="splide__list">
            {% for post in site.posts %}
              <li class="splide__slide">
                {% include article.html %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
  </div>
</section>
