<section  class="color-text-inverse" id="skills">
  <div class="container container-center pt-xl pl-md pr-md pb-xxl pt-xxl overflowhidden">
    <h3 class="color-headline-inverse text-center mb-sm">I got the skills to pay the bills</h3>
    <h5 class="color-headline-inverse fw-light text-center mb-xxl">synth health goth kickstarter polaroid iceland truffaut kinfolk.</h5>
    <div class="row">
      <div class="col col-6">
        <div class="drop static">
          <h5 class="color-headline-inverse mb-xs">graphic & design software</h5>
          <p>locavore wayfarers umami skateboard literally. Sartorial gatekeep health goth fanny pack ethical, meditation literally put a bird on it sus church-key mlkshk tumeric lo-fi man braid.</p>
          <div class="flex justify-between">
            {% include skills/skill-ps.html %}
            {% include skills/skill-id.html %}
            {% include skills/skill-fg.html %}
          </div>
        </div>
      </div>
      <div class="col col-6 mt-3xl">
        <div class="drop static">
          <h5 class="color-headline-inverse mb-xs">front-end development competencies</h5>
          <p>Green juice portland flexitarian pour-over snackwave seitan cloud bread hexagon copper mug intelligentsia adaptogen enamel pin gorpcore crucifix paleo.</p>
          <div class="flex justify-between">
            {% include skills/skill-html.html %}
            {% include skills/skill-css.html %}
            {% include skills/skill-js.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>