<div class="skill--wrapper html">
            <svg class="skill" width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <text class="skill--text" text-anchor="middle" x="80" y="90">html</text>	
              <circle cx="80" cy="80" r="48" stroke="none" stroke-width="4"/>
              <circle cx="80" cy="80" r="65" class="static skill--path html" stroke-width="30"/>
              <circle cx="80" cy="80" r="65" class="skill--bg" stroke-width="30"/>
            </svg>
          </div>