<section  class="pt-xl pb-xl" id="skills">
  <h3 class=" text-center mb-sm drop static">The skills to pay the bills</h3>
  <h5 class=" fw-light text-center mb-xxl drop static">Blending design, code, and creativity to build impactful experiences.</h5>
  <div class="row gap-md">
    <div class="col-6 mb-xl">
      <div class="drop static">
        <h5 class=" mb-xs">Art Direction</h5>
        <p>Great design tells a story. As an art director, I shape visual narratives that connect, inspire, and leave a lasting impression. Whether crafting brand identities, designing campaigns, or refining aesthetics, I thrive on bringing creative visions to life with clarity and purpose.</p>
        <div class="flex gap-md">
          {% include skills/skill-ps.html %}
          {% include skills/skill-id.html %}
          {% include skills/skill-fg.html %}
        </div>
      </div>
    </div>
    <div class="col-6 mb-xl">
      <div class="drop static">
        <h5 class=" mb-xs">Frontend Design & Development</h5>
        <p>Bridging the gap between design and technology, I create intuitive, engaging digital experiences. From pixel-perfect UI design to seamless front-end interactions, I bring ideas to life with clean, efficient code—always keeping usability and aesthetics in perfect balance.</p>
        <div class="flex gap-md">
          {% include skills/skill-html.html %}
          {% include skills/skill-css.html %}
          {% include skills/skill-js.html %}
        </div>
      </div>
    </div>
  </div>
  <div class="row gap-md">
    <div class="col-6 col-center">
      <div class="drop static">
        <h5 class=" mb-xs">Photography</h5>
        <p>Photography is my way of capturing moments that words can’t express. From conceptual shoots to documentary-style storytelling, I focus on composition, light, and emotion to create images that resonate. Every frame is an opportunity to distill an experience into something timeless.</p>
        <div class="flex gap-md">
          {% include skills/skill-html.html %}
        </div>
      </div>
    </div>
  </div>
</section>