   <section>
      <div class="container container-center pt-xl">
        <h4 class="text-center mb-lg">graphic & design software</h4>
        <div class="flex justify-center">
          <div class="skill--wrapper photoshop">
            <svg class="skill" width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <text class="skill--text" text-anchor="middle" x="80" y="90">ps</text>	
              <circle cx="80" cy="80" r="48" stroke="white" stroke-width="4"/>
              <circle cx="80" cy="80" r="65" class="dash-null skill--path" stroke-width="30"/>
              <circle cx="80" cy="80" r="65" class="skill--bg" stroke-width="30"/>
            </svg>
          </div>
          <div class="skill--wrapper illustrator">
            <svg class="skill" width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <text class="skill--text" text-anchor="middle" x="80" y="90">il</text>	
              <circle cx="80" cy="80" r="48" stroke="white" stroke-width="4"/>
              <circle cx="80" cy="80" r="65" class="animateview skill--path dash-il" stroke-width="30"/>
              <circle cx="80" cy="80" r="65" class="skill--bg" stroke-width="30"/>
            </svg>
          </div>
          <div class="skill--wrapper indesign">
            <svg class="skill" width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <text class="skill--text" text-anchor="middle" x="80" y="90">id</text>	
              <circle cx="80" cy="80" r="48" stroke="white" stroke-width="4"/>
              <circle cx="80" cy="80" r="65" class="animateview skill--path dash-id" stroke-width="30"/>
              <circle cx="80" cy="80" r="65" class="skill--bg" stroke-width="30"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="container container-center pt-xl">
        <h4 class="text-center mb-lg">front-end development competencies</h4>
        <div class="container container-center flex justify-center">
          <div class="skill--wrapper html">
            <svg class="skill" width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <text class="skill--text" text-anchor="middle" x="80" y="90">html</text>	
              <circle cx="80" cy="80" r="48" stroke="white" stroke-width="4"/>
              <circle cx="80" cy="80" r="65" class="animateview skill--path dash-html" stroke-width="30"/>
              <circle cx="80" cy="80" r="65" class="skill--bg" stroke-width="30"/>
            </svg>
          </div>
          <div class="skill--wrapper css">
            <svg class="skill" width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <text class="skill--text" text-anchor="middle" x="80" y="90">css</text>	
              <circle cx="80" cy="80" r="48" stroke="white" stroke-width="4"/>
              <circle cx="80" cy="80" r="65" class="animateview skill--path dash-css" stroke-width="30"/>
              <circle cx="80" cy="80" r="65" class="skill--bg" stroke-width="30"/>
            </svg>
          </div>
          <div class="skill--wrapper js">
            <svg class="skill" width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
              <text class="skill--text" text-anchor="middle" x="80" y="90">js</text>	
              <circle cx="80" cy="80" r="48" stroke="white" stroke-width="4"/>
              <circle cx="80" cy="80" r="65" class="animateview skill--path dash-js" stroke-width="30"/>
              <circle cx="80" cy="80" r="65" class="skill--bg" stroke-width="30"/>
            </svg>
          </div>
        </div>
      </div>
    </section>