<div class="skill--all">
  <svg class="skill" width="390px" height="390px" viewBox="0 0 390 390" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="195" cy="195" r="65" class="skill--bg" stroke-width="60"/>
    <circle cx="195" cy="195" r="65" class="skill--path skillone stopped" stroke-width="60"/>
    <circle cx="195" cy="195" r="65" class="skill--path skilltwo stopped" stroke-width="60"/>
    <circle cx="195" cy="195" r="65" class="skill--path skillthree stopped" stroke-width="60"/>
  </svg>
</div>