<div class="skill--container static drop">
  <svg class="skill--circle" viewBox="0 0 800 800" width="800" height="800" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <circle cx="400" cy="400" r="250" class="skill--bg" stroke-width="25"/>
    <circle cx="400" cy="400" r="250" class="skill skill--path skillone stopped" stroke-width="50"/>
    <circle cx="400" cy="400" r="250" class="skill skill--path skilltwo stopped" stroke-width="50"/>
    <circle cx="400" cy="400" r="250" class="skill skill--path skillthree stopped" stroke-width="50"/>
  </svg>
</div>