<div class="skill--wrapper skill--all">
  <svg class="skill" width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="100" cy="100" r="65" class="skill--bg" stroke-width="50"/>
    <circle cx="100" cy="100" r="65" class="static skill--path skillone" stroke-width="60"/>
    <circle cx="100" cy="100" r="65" class="static skill--path skilltwo" stroke-width="60" style="transform: rotate(18deg); transform: translateZ(18deg);"/>
    <circle cx="100" cy="100" r="65" class="static skill--path skillthree" stroke-width="60" style="transform: rotate(198deg); transform: translateZ(198deg);"/>
  </svg>
</div>