@import "parts/reset.css";

@import "parts/alignment.css";
@import "parts/article.css";
@import "parts/breakpoints.css";
@import "parts/buttons.css";
@import "parts/colors.css";
@import "parts/footer.css";
@import "parts/header.css";
@import "parts/intro.css";
@import "parts/native.css";
@import "parts/sizing.css";
@import "parts/shapes.css";
@import "parts/skills.css";
@import "parts/typo.css";
@import "parts/utilities.css";
@import "parts/video.css";
@import "parts/zindex.css";


body {
    height: 100%;
    margin: 0;
    background: var(--gradient-brand);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--color-neutral-light);
}

.intro {
    background: var(--gradient-primary);
    min-height: 100vh;
}

hr{
    border: 1px solid var(--color-neutral-dark);
}

.site-logo{
    margin-inline: auto;
    max-width: 175px;
    height: auto;
}

@media (max-width: 768px) {
    .site-logo{
        max-width: 110px;
    }
}

.z1{
    z-index: 1;
}
.z2{
    z-index: 2;
}

