<section class="pt-xl pb-xl" id="timeline">
  <div class="inner-wrapper z2">
    <h3 class="text-center mb-sm drop static">Experience that Shapes Design</h3>
    <h5 class=" fw-light text-center mb-md drop static">A look at the companies and roles that defined my creative path</h5>
    <div id="worksplider" class="splide mt-xxl" aria-labelledby="gallery-splider">
      <div class="splide__track drop static">
        <ul class="splide__list">
          <div class="li splide__slide">
            <div class="card card-01 text-center">
              <h6>Together Concept Werbeagentur</h6>
              <p class="small">1999 - 2003</p>
              <p class="fw-light">Art Director</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-02 text-center">
              <h6>Braun & Voigt Werbeagentur</h6>
              <p class="small">2004 - 2007</p>
              <p class="fw-light">Senior Art Director</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-03 text-center">
              <h6>Andreas Heller Architcts & Designers</h6>
              <p class="small">2007 - 2019</p>
              <p class="fw-light">Lead Web and Media Designer</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-04 text-center">
              <h6>Kundenbüro HH</h6>
              <p class="small">2019 - 2020</p>
              <p class="fw-light">Senior Art Director</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-05 text-center">
              <h6>Calumet Photo Video</h6>
              <p class="small">2021 - 2025</p>
              <p class="fw-light">Senior Front-End Designer & Developer</br>Head of Art Direction</p>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>