<section class="pt-xl pb-xl" id="timeline">
  <div class="inner-wrapper z2">
    <h3 class="text-center mb-sm drop static">Experience that Shapes Design</h3>
    <h5 class=" fw-light text-center mb-md drop static">A look at the companies and roles that defined my creative path</h5>
    <div id="worksplider" class="splide mt-xxl" aria-labelledby="gallery-splider">
      <div class="splide__track drop static">
        <ul class="splide__list">
          <div class="li splide__slide">
            <div class="card card-01 text-center">
              <h5>Together Concept Werbeagentur</h5>
              <h6 class="fw-light">1999 - 2003</h6>
              <p class="mt-lg">Art Director</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-02 text-center">
              <h5>Braun & Voigt Werbeagentur</h5>
              <h6 class="fw-light">2004 - 2007</h6>
              <p class="mt-lg">Senior Art Director</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-03 text-center">
              <h5>Andreas Heller Architcts & Designers</h5>
              <h6 class="fw-light">2007 - 2019 </h6>
              <p class="mt-lg">Lead Web and Media Designer</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-04 text-center">
              <h5>Kundenbüro HH</h5>
              <h6 class="fw-light">2019 - 2020</h6>
              <p class="mt-lg">Senior Art Director</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-05 text-center">
              <h5>Calumet Photo Video</h5>
              <h6 class="fw-light">2021 - 2025</h6>
              <p class="mt-lg">Senior Front-End Designer & Developer</br>Head of Art Direction</p>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>