<section class="pt-xl pb-xl" id="timeline">
  <div class="inner-wrapper z2">
    <h3 class="text-center mb-sm drop static">Experience that Shapes Design</h3>
    <h5 class=" fw-light text-center mb-md drop static">A look at the companies and roles that defined my creative path</h5>
    <div id="worksplider" class="splide mt-xxl" aria-labelledby="gallery-splider">
      <div class="splide__track">
        <ul class="splide__list">
          <div class="li splide__slide">
            <div class="card card-01 text-center">
              <h5 class="audiowide">TC</h5>
              <h6>Together Concept Werbeagentur</h6>
              <p>1999 - 2003</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-02 text-center">
              <h5 class="audiowide">BV</h5>
              <h6>Braun & Voigt Werbeagentur</h6>
              <p>2004 - 2007</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-03 text-center">
              <h5 class="audiowide">AH</h5>
              <h6>Andreas Heller Architcts & Designers</h6>
              <p>2007 - 2019</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-04 text-center">
              <h5 class="audiowide">KB</h5>
              <h6>Kundenbüro HH</h6>
              <p>2019 - 2020</p>
            </div>
          </div>
          <div class="li splide__slide">
            <div class="card card-05 text-center">
              <h5 class="audiowide">CA</h5>
              <h6>Calumet Photo Video</h6>
              <p>2021 - 2025</p>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>

