<section  class="pt-xl pb-xl" id="aboutme">
  {%- assign sitePortrait ="/assets/images/self-portrait-2019.jpg" -%}
  <div class="inner-wrapper z2">
    <img src="{{- sitePortrait | relative_url -}}" class="site-portrait mb-lg z2 drop static" alt="">
    <h3 class="text-center mb-sm z-02 drop static">{{ site.title }}</h3>
    <h5 class="fw-light text-center mb-xxl z-02 drop static">Creative Director / Front-End Designer & Developer / Photographer</h5>
    <div class="row gap-md">
      <div class="col-8 col-center drop static">
        <p>At 22, I made the decision to stay in Germany and build a life and career in a country that wasn’t my own. That choice shaped my independence, my curiosity, and my way of seeing the world. I move between photography, design, and code as different ways of observing, understanding, and creating. Running and cycling are part of how I think—they give me space, structure, and perspective. I’m drawn to thoughtful work, long-term ideas, and building things that feel both human and well-crafted.</p>
      </div>
    </div>
  </div>
</section>