<section  class="pt-xl pb-xl" id="lately">
    {%- assign lately ="/assets/images/lately.png" -%}
  <div class="inner-wrapper z2">
    <h3 class="text-center mb-sm z-02 drop static">Wait, I’m in Charge?</h3>
    <h5 class="fw-light text-center mb-md z-02 drop static">Turns out leading design means more than picking colors.</h5>
    <div class="row gap-md">
      <div class="col-6 drop static">
        <img src="{{- lately | relative_url -}}" class="mb-lg z2 drop static" alt="">
      </div>
      <div class="col col-6 flex flex-column justify-center drop static">
        <p>Since 2021, I’ve been wearing the Head of Art Direction hat — which turned out to mean building a design team from scratch, inventing folder structures that actually make sense, and making sure the brand looked like it had its life together across every channel. Along the way, I’ve coordinated with freelancers and external partners, making sure everyone — internal or external — was pulling in the same creative direction.</p>
        <p>In practice, that’s meant hiring and mentoring three great designers, streamlining how projects move from idea to delivery, and nudging the company toward seeing design as more than just decoration. It’s been equal parts creative work, team building, and a bit of organizational therapy, while keeping both internal and external collaborators aligned and motivated.</p>
        <p>The workload often felt like running a mini full-service agency: juggling multiple projects at once, balancing strategic priorities with tight deadlines, and making sure every campaign, presentation, and digital asset met the same high standard. It’s been intense, but incredibly rewarding to see the team—and the brand—grow stronger through it all.</p>
        <div class="flex drop static">
          <a href="/calumet" class="btn-calumet btn-sm article__btn">find out more</a>
        </div> 
      </div>
    </div>
  </div>
</section>