<section  class="pt-xl pb-xl" id="skills">
  <h3 class=" text-center mb-sm drop static">Skills that make an impact</h3>
  <h5 class=" fw-light text-center mb-md drop static">Blending design, code, and creativity to craft meaningful experiences.</h5>
  <div class="row">
    <div class="col col-6">
      {% include skills/skill-all.html %}
    </div>
    <div class="col col-6 flex flex-column justify-center">
      <div class="drop static">
        <h5 class=" mb-xs">Art Direction</h5>
        <p>Great design tells a story. I craft visual narratives that connect and endure—defining brand identities, shaping campaigns, and refining aesthetics with clarity and purpose.</p>
      </div>
      <div class="drop static">
        <h5 class=" mb-xs">Frontend Development</h5>
        <p>I merge design and technology to build intuitive, engaging interfaces. Clean code and thoughtful details turn concepts into seamless digital experiences that balance beauty and function.</p>
      </div>
      <div class="drop static">
        <h5 class=" mb-xs">Photography</h5>
        <p>I first explored photography during my design studies and later rediscovered it as a missing creative link. It’s my way to observe, slow down, and capture light, detail, and emotion—stories only the lens can tell.</p>
      </div>
    </div>
  </div>
</section>