<section  class="pt-xl pb-xl" id="skills">
  <h3 class=" text-center mb-sm drop static">Skills that make an impact</h3>
  <h5 class=" fw-light text-center mb-md drop static">Blending design, code, and creativity to craft meaningful experiences.</h5>
  <div class="row">
    <div class="col col-6">
      {% include skills/skill-all.html %}
    </div>
    <div class="col col-6">
      <div class="drop static">
        <h5 class=" mb-xs">Art Direction</h5>
        <p>Great design tells a story. As an art director, I craft visual narratives that connect, inspire, and endure—whether defining brand identities, designing campaigns, or refining aesthetics. I bring creative visions to life with clarity and purpose.</p>
      </div>
      <div class="drop static">
        <h5 class=" mb-xs">Frontend Design & Development</h5>
        <p>I bridge design and technology to create intuitive, engaging digital experiences. From pixel-perfect UI to seamless front-end interactions, I bring ideas to life with clean code—balancing usability and aesthetics.</p>
      </div>
      <div class="drop static">
        <h5 class=" mb-xs">Photography</h5>
        <p>I studied photography as part of my graphic design studies and came to Germany with my analog Canon AE-1. After years away from peeking through the viewfinder, I realized that this part of my creativity had been missing. Photography for me is about reconnecting with that hands-on, observational side — noticing light, detail, and moments that tell a story in a way only the lens can capture.</p>
      </div>
    </div>
  </div>
</section>