<section class="mt-xl mb-xl" id="contact">
  <div class="inner-wrapper z2">
    <div class="row gap-md">
      <div class="col-7 col-center drop static">
        <h3 class="text-center mb-sm">Kontakt</h3>
        <p>Lass uns sprechen. Wenn du zusammenarbeiten möchtest, ein Projekt besprechen willst oder einfach Kontakt aufnehmen möchtest, schreib mir eine Nachricht. Ich melde mich so schnell wie möglich zurück.</p>
        {% include contact-form.html %}
      </div>
    </div>
  </div>
</section>
