<section class="pt-xl pb-xl" id="lately">
  {%- assign lately ="/assets/images/lately.png" -%}
  <div class="inner-wrapper z2">
    <h3 class="text-center mb-sm z-02 drop static">Moment, ich bin verantwortlich?</h3>
    <h5 class="fw-light text-center mb-md z-02 drop static">Design zu führen bedeutet mehr, als Farben auszuwählen.</h5>
    <div class="row gap-md">
      <div class="col-6 drop static">
        <img src="{{- lately | relative_url -}}" class="mb-lg z2 drop static" alt="">
      </div>
      <div class="col col-6 flex flex-column justify-center drop static">
        <p>Als Head of Art Direction seit 2021 habe ich ein Designteam aufgebaut, Workflows definiert und der Marke eine klare, konsistente Stimme gegeben. Ich habe Projekte von der Idee bis zum Launch geführt, Designer begleitet und Design zu einem strategischen Teil des Unternehmens gemacht.</p>
        <div class="flex drop static">
          <a href="/de/calumet" class="btn-calumet btn-sm article__btn">mehr erfahren</a>
        </div>
      </div>
    </div>
  </div>
</section>
