<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% include header.html %}
      <main class="content  pt-mega">
        <section  class="color-text-inverse">
            <div class="inner-wrapper">
              {% include breadcrumbs.html %}
                <h2>{{ page.title }}</h2>
                {{ content }}
                <div class="row">

                          {% for post in site.posts %}
                          <div class="col col-4">
                              <h5>{{ post.title }}</h5>
                              <p>{{ post.date }}</p>
                              <p>{{ post.content | markdownify | strip_html | truncatewords: 25 }}</p>
                              <a href="{{ post.url }}">Read More</a>
                          </div>
                          {% endfor %}

            </div>
        </section>
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>