<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang | default: 'en' }}">
  {%- assign current_lang = page.lang | default: site.default_lang | default: "en" -%}
  {%- assign current_tag = page.tag_key | default: page.title | downcase -%}
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% include header.html %}
      <main class="content  pt-mega">
        <section>
            <div class="inner-wrapper">
              <div class="post__header">
                <div class="article__title mb-xs">
                  <h2>{{ page.title }}</h2>
                </div>
              </div>
              <div class="post__categories">
                <div class="row ">
                  <div class="col-8 col-md-6">
                    <p>{{ page.description }}</p>
                  </div>
                  <div class="col-4 col-md-6">
                    <div class="flex gap-xs justify-end justify-md-start wrap">
                      <a href="{% if current_lang == 'de' %}/de/posts/{% else %}{{ index.url | prepend: site.baseurl}}/posts{% endif %}" class="article__tag mb-xs">{% if current_lang == "de" %}alle Arbeiten{% else %}{{site.snippets.all-tags}}{% endif %}</a>
                      {% for tag in site.tags %}
                        {%- assign tag_name = tag[0] -%}
                        {% include tag-link.html tag=tag_name lang=current_lang extra_class="mb-xs" active_slug=current_tag %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="post__content">
                {{ content }}
              </div>
            </div>
        </section>
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
