<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% include header.html %}
      <main class="content pt-mega">
        <section  class="color-text-inverse">
            <div class="inner-wrapper">
              <div class="post-meta mb-md">
                {% include breadcrumbs.html %}
                <div class="tags flex gap-xs wrap mt-md">
                  {% for tag in page.tags %}
                    <a href="/{{ tag | downcase | replace: ' ', '-' }}" class="pill-primary">{{ tag }}</a>
                  {% endfor %}
                </div>
              </div>
                <h2 class="mb-lg">{{ page.title }}</h2>
                {% if page.image.feature %}
                  <img src="{{page.image.feature}}" class="img-responsive" alt="">
                  {% endif %}
                {{ content }}
            </div>
          </section>
      </main>
        {% include footer.html %}
    </div>
  </body>
</html>
