<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% include header.html %}
      <main class="content pt-mega">
        <section  class="color-text-inverse">
            <div class="inner-wrapper">
              {% include breadcrumbs.html %}
                <h2>{{ page.title }}</h2>
                {{ content }}
                <h5>here are the tags</h5>
                Tags:
      {% for tag in page.tags %}
        <a href="/{{ tag | downcase | replace: ' ', '-' }}" class="post">#{{ tag }}</a>
      {% endfor %}
            </div>
          </section>
      </main>
        {% include footer.html %}
    </div>
  </body>
</html>
