<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% include header.html %}
      <main class="content  pt-mega">
        <section>
            <div class="inner-wrapper">
              <div class="post__header">
                <div class="article__title mb-xs">
                  <h2>Works</h2>
                </div>
              </div>
              <div class="post__categories">
                <div class="row ">
                  <div class="col-8 col-md-6">
                    {{ content }}
                  </div>
                  <div class="col-4 col-md-6">
                    <div class="flex gap-xs justify-end justify-md-start">
                      {% for tag in site.tags %}
                        <a href="/{{ tag[0] | slugify }}" class="article__tag tag__{{tag[0]}}">{{ tag[0] }}</a>
                      {% endfor %}
                      </div>
                  </div>
                </div>
              </div>
              <div class="grid grid-3col">
                {% for post in site.posts %}
                  {% include article.html %}
                {% endfor %}
              </div>
            </div>
        </section>
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>