<section class="pt-xl pb-xl" id="aboutme">
  {%- assign sitePortrait ="/assets/images/self-portrait-2019.jpg" -%}
  <div class="inner-wrapper z2">
    <img src="{{- sitePortrait | relative_url -}}" class="site-portrait mb-lg z2 drop static" alt="">
    <h3 class="text-center mb-sm z-02 drop static">{{ site.title }}</h3>
    <h5 class="fw-light text-center mb-xxl z-02 drop static">Creative Director / Front-End Designer & Developer / Fotograf</h5>
    <div class="row gap-md">
      <div class="col-8 col-center drop static">
        <p>Mit 22 habe ich mich entschieden, in Deutschland zu bleiben und mir in einem Land, das nicht mein eigenes war, ein Leben und eine berufliche Zukunft aufzubauen. Diese Entscheidung hat meine Unabhängigkeit, meine Neugier und meinen Blick auf die Welt geprägt. Ich bewege mich zwischen Fotografie, Design und Code als unterschiedlichen Wegen, Dinge zu beobachten, zu verstehen und zu gestalten. Laufen und Radfahren gehören zu meiner Art zu denken: Sie geben mir Raum, Struktur und Perspektive. Mich interessieren durchdachte Arbeit, langfristige Ideen und Dinge, die menschlich wirken und handwerklich gut gemacht sind.</p>
      </div>
    </div>
  </div>
</section>
